/* search results css */

.search-result-movie {
    gap: 14px;
    padding: 0 12px;
    cursor: pointer;
    flex-wrap: wrap;
}

.search-result-img {
    height: 200px;
    width: 145px;
    transition: 0.1s ease-in-out;
}

.search-result-img:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.search-result-img-link {
    height: 100%;
    width: 100%;
}
