/* css movie detail */
.movie-detail-container {
    padding: 32px 0;
    position: relative;
    align-items: flex-start;
}

.movie-detail-content {
    display: flex;
    flex-direction: column;
    gap: 14px;
    max-width: 700px;
}

.strok {
    border-top: 2px solid #ffffff;
}

.movie-description {
    font-size: 14px;
    font-weight: normal;
}

.movie-item-link {
    width: 742px;
    height: 400px;
}

.btn-close {
    position: absolute;
    top: 0;
    right: 0;
    transform: translateY(-50%);
}

.btn-close:hover {
    cursor: pointer;
}
