/* css movie detail */
.movie-detail-container {
    gap: 16px;
    align-items: flex-start;
    width: 100%;
}

.movie-detail-content {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.strok {
    border-top: 2px solid #ffffff;
}

.movie-description {
    font-size: 14px;
    font-weight: normal;
}

.movie-item-link {
    width: 742px;
    height: 400px;
}
